@supports (animation-range: 0vh 90vh) {
  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes translate-y-in {
    to {
      transform: translateY(0);
    }
  }

  @keyframes scale-out {
    to {
      scale: 0.5;
    }
  }

  @keyframes rotate-and-scale {
    to {
      transform: rotate(360deg) scale(1.5);
    }
  }

  @keyframes nav-button-text-color {
    to {
      color: var(--nav-button-color-content);
    }
  }

  @keyframes nav-button-text-color-hover {
    to {
      color: var(--nav-button-color-content-hover);
    }
  }

  header {
    view-timeline: --header;
  }

  .projects {
    view-timeline: --projects;
  }

  .project-card-container {
    view-timeline: --project-card-container;
  }

  .project-card {
    view-timeline: --project-card;
  }

  .other-projects {
    view-timeline: --other-projects;
  }

  .other-project-card {
    view-timeline: --other-project-card;
  }

  header .header-content {
    animation: scale-out both linear, fade-out both linear;
    animation-timeline: --header;
    animation-range: exit 0% exit 50%, exit 0% exit 30%;
    transform-origin: 50% 0;
  }

  .projects-header {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --projects;
    animation-range: entry 10% entry 50%;
  }

  .project-card {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --project-card-container;
    animation-range: entry 45% cover 50%;
  }

  .other-projects-header {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --other-projects;
    animation-range: entry 50% entry 100%;
  }

  .other-project-card {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --other-project-card;
    animation-range: entry 0% cover 30%;
  }

  .nav-button {
    animation: nav-button-text-color 0.3s both linear;
    animation-timeline: scroll();
    animation-range: 90vh 100vh;
  }

  .nav-button:hover {
    animation: nav-button-text-color-hover 0.3s both linear;
    animation-timeline: scroll();
    animation-range: 90vh 100vh;
  }
}

:root {
  --nav-button-color-header: #fff;
  --nav-button-color-content: #1e293b;
  --nav-button-color-header-hover: #334155;
  --nav-button-color-content-hover: #fff;

  --projects-background-color: #e2e8f0; /* Use same as in the first project card */

  --project-card-one-background-color: #94a3b8; /* Slate 400 */
  --project-card-one-button-color: #64748b; /* Slate 500 */
  --project-card-one-button-color-hover: #94a3b8; /* Slate 400 */
  --project-card-one-container-background-color: #e2e8f0; /* Slate 200 */

  --project-card-two-background-color: #2563eb; /* Blue 600 */
  --project-card-two-button-color: #1d4ed8; /* Blue 700 */
  --project-card-two-button-color-hover: #2563eb; /* Blue 600 */
  --project-card-two-container-background-color: #bfdbfe; /* Blue 200 */

  --project-card-three-background-color: #6d28d9; /* Purple 700 */
  --project-card-three-button-color: #5b21b6; /* Purple 800 */
  --project-card-three-button-color-hover: #6d28d9; /* Purple 700 */
  --project-card-three-container-background-color: #ddd6fe; /* Purple 200 */

  --project-card-four-background-color: #0e7490; /* Cyan 600 */
  --project-card-four-button-color: #155e75; /* Cyan 800 */
  --project-card-four-button-color-hover: #0e7490; /* Cyan 600 */
  --project-card-four-container-background-color: #cffafe; /* Cyan 100 */

  --project-card-five-background-color: #be123c; /* Rose 700 */
  --project-card-five-button-color: #9f1239; /* Rose 800 */
  --project-card-five-button-color-hover: #be123c; /* Rose 700 */
  --project-card-five-container-background-color: #fecdd3; /* Rose 200 */

  --footer-background: rgba(0, 0, 0, 1);
  --footer-title-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

ul,
li,
button,
a {
  all: unset;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.nav-button {
  flex-grow: 1;
  background-color: none;
  color: var(--nav-button-color-header);
  transition: color 0.3s ease-in-out;
}

.nav-button:hover {
  color: var(--nav-button-color-header-hover);
}

#nav-header {
  margin-left: 3rem;
  justify-content: start;
}

.github-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

header {
  height: 90vh;
  background: black;
}

header .header-content .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  position: fixed;
  inset: 0;
}

/* Use this for the real image */
.header-content img {
  position: relative;
  height: 100%;
  width: 140%;
  object-fit: cover;
  inset: 0;
  left: 50%;
  translate: -50% 0;
  filter: brightness(0.2);
}

/* Use this dummy background */
.header-content-background {
  position: relative;
  height: 100%;
  width: 140%;
  background: linear-gradient(135deg, #89cff0, #e0ffff);
  filter: brightness(0.8);
  left: 50%;
  transform: translateX(-50%);
}

.content {
  z-index: 2;
  position: absolute;
  inset: 0;
}

.hero-text {
  font-size: 1.5rem;
  text-align: left;
  color: white;
}

h1 {
  font-size: 4rem;
}

.projects {
  z-index: 10;
  width: 100%;
  background-color: var(--projects-background-color);
  clip-path: ellipse(220% 100% at 50% 100%);
}

.projects-header {
  margin-top: 5rem;
  text-align: center;
  opacity: 0;
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-container {
  padding: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  opacity: 0;
  flex-grow: 1;
  max-width: 1400px;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  color: white;
  transform: translateY(30%);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.project-info {
  flex-grow: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
}

.project-description {
  font-size: 1.3rem;
}

.project-card-buttons {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.project-img {
  flex-grow: 1;
  max-width: 60%;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.project-button {
  margin-left: 0;
  margin-right: 4rem;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #94a3b8;
  transition: transform 0.3s ease-in-out;
}

.project-button:active {
  transform: scale(0.95);
}

#project-1-card-container {
  background-color: var(--project-card-one-container-background-color);
}

#project-1-card {
  background-color: var(--project-card-one-background-color);
}

#project-1-button {
  background-color: var(--project-card-one-button-color);
  border: 1px solid var(--project-card-one-button-color);
}

#project-1-button:hover {
  background-color: var(--project-card-one-button-color-hover);
}

#project-2-card-container {
  background-color: var(--project-card-two-container-background-color);
}

#project-2-card {
  background-color: var(--project-card-two-background-color);
}

#project-2-button {
  background-color: var(--project-card-two-button-color);
  border: 1px solid var(--project-card-two-button-color);
}

#project-2-button:hover {
  background-color: var(--project-card-two-button-color-hover);
}

#project-3-card-container {
  background-color: var(--project-card-three-container-background-color);
}

#project-3-card {
  background-color: var(--project-card-three-background-color);
}

#project-3-button {
  background-color: var(--project-card-three-button-color);
  border: 1px solid var(--project-card-three-button-color);
}

#project-3-button:hover {
  background-color: var(--project-card-three-button-color-hover);
}

#project-4-card-container {
  background-color: var(--project-card-four-container-background-color);
}

#project-4-card {
  background-color: var(--project-card-four-background-color);
}

#project-4-button {
  background-color: var(--project-card-four-button-color);
  border: 1px solid var(--project-card-four-button-color);
}

#project-4-button:hover {
  background-color: var(--project-card-four-button-color-hover);
}

#project-5-card-container {
  background-color: var(--project-card-five-container-background-color);
}

#project-5-card {
  background-color: var(--project-card-five-background-color);
}

#project-5-button {
  background-color: var(--project-card-five-button-color);
  border: 1px solid var(--project-card-five-button-color);
}

#project-5-button:hover {
  background-color: var(--project-card-five-button-color-hover);
}

.other-projects {
  width: 100%;
  background-color: #94a3b8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-projects-header {
  opacity: 0;
  text-align: center;
  font-size: 2rem;
}

.other-project-cards {
  margin: 4rem;
  flex-grow: 1;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.other-project-card {
  opacity: 0;
  position: relative;
  margin: 2rem;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #cbd5e1;
  color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.other-project-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.other-project-info:hover {
  animation: fade-in 0.7s forwards;
}

.other-project-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.other-project-button {
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.other-project-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.other-project-button:active {
  transform: scale(0.95);
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: var(--footer-background);
}

.footer-content {
  flex-grow: 1;
  height: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--footer-title-color);
}

.footer-text {
  margin-right: 4px;
}

.github-icon {
  width: 28px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.github-icon:hover {
  cursor: pointer;
  animation: rotate-and-scale 1s forwards;
}
