@supports (animation-range: 0vh 90vh) {
  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes translate-y-in {
    to {
      transform: translateY(0);
    }
  }

  @keyframes scale-out {
    to {
      scale: 0.5;
    }
  }

  @keyframes rotate-and-scale {
    to {
      transform: rotate(360deg) scale(1.5);
    }
  }

  header {
    view-timeline: --header;
  }

  .projects {
    view-timeline: --projects;
  }

  .project-card-container {
    view-timeline: --project-card-container;
  }

  .project-card {
    view-timeline: --project-card;
  }

  header .header-content {
    animation: scale-out both linear, fade-out both linear;
    animation-timeline: --header;
    animation-range: exit 0% exit 50%, exit 0% exit 30%;
    transform-origin: 50% 0;
  }

  .projects-header {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --projects;
    animation-range: entry 50% entry 100%;
  }

  .project-card {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --project-card-container;
    animation-range: entry 35% cover 50%;
  }
}

:root {
  --footer-background: rgba(0, 0, 0, 1);
  --footer-title-color: white;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

ul,
li,
button,
a {
  all: unset;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

#nav-button {
  background-color: rgba(23, 37, 84, 0.9);
}

.github-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

header {
  scroll-snap-align: center;
  height: 90vh;
  background: black;
}

header .header-content .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  position: fixed;
  inset: 0;
}

/* Use this for the real image */
.header-content img {
  position: relative;
  height: 100%;
  width: 140%;
  object-fit: cover;
  inset: 0;
  left: 50%;
  translate: -50% 0;
  filter: brightness(0.2);
}

/* Use this dummy background */
.header-content-background {
  position: relative;
  height: 100%;
  width: 140%;
  background: linear-gradient(135deg, #89cff0, #e0ffff);
  filter: brightness(0.8);
  left: 50%;
  transform: translateX(-50%);
}

.content {
  z-index: 2;
  position: absolute;
  inset: 0;
}

.hero-text {
  font-size: 1.5rem;
  text-align: left;
  color: white;
}

h1 {
  font-size: 4rem;
}

.projects {
  z-index: 10;
  width: 100%;
  background-color: white;
  scroll-snap-align: center;
  clip-path: ellipse(170% 100% at 50% 100%);
}

.projects-header {
  text-align: center;
  opacity: 0;
}

.project-cards {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-container {
  padding: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.project-card {
  opacity: 0;
  flex-grow: 1;
  max-width: 1400px;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  color: white;
  transform: translateY(30%);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.project-info {
  flex-grow: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
}

.project-description {
  font-size: 1.3rem;
}

.project-card-buttons {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.project-img {
  flex-grow: 1;
  max-width: 60%;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.project-button {
  margin-left: 0;
  margin-right: 4rem;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #94a3b8;
  transition: transform 0.3s ease-in-out;
}

.project-button:active {
  transform: scale(0.95);
}

#project-1-card {
  background-color: #94a3b8;
}

#project-1-button {
  background-color: #64748b;
  border: 1px solid #64748b;
}

#project-1-button:hover {
  background-color: #94a3b8;
}

#project-2-card {
  background-color: #2563eb;
}

#project-2-button {
  background-color: #1d4ed8;
  border: 1px solid #1d4ed8;
}

#project-2-button:hover {
  background-color: #2563eb;
}

#project-3-card {
  background-color: #6d28d9;
}

#project-3-button {
  background-color: #5b21b6;
  border: 1px solid #5b21b6;
}

#project-3-button:hover {
  background-color: #6d28d9;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: var(--footer-background);
}

.footer-content {
  flex-grow: 1;
  height: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--footer-title-color);
}

.footer-text {
  margin-right: 4px;
}

.github-icon {
  width: 28px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.github-icon:hover {
  cursor: pointer;
  animation: rotate-and-scale 1s forwards;
}
