@supports (animation-range: 0vh 90vh) {
  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes translate-y-in {
    to {
      transform: translateY(0);
    }
  }

  @keyframes translate-x-in {
    to {
      transform: translateX(0);
    }
  }

  @keyframes scale-out {
    to {
      scale: 0.5;
    }
  }

  @keyframes rotate-and-scale {
    to {
      transform: rotate(360deg) scale(1.5);
    }
  }

  @keyframes nav-button-text-color {
    to {
      color: var(--nav-button-color-content);
    }
  }

  @keyframes nav-button-text-color-hover {
    to {
      color: var(--nav-button-color-content-hover);
    }
  }

  header {
    view-timeline: --header;
  }

  .projects {
    view-timeline: --projects;
  }

  .project-card-container {
    view-timeline: --project-card-container;
  }

  .project-card {
    view-timeline: --project-card;
  }

  .other-projects {
    view-timeline: --other-projects;
  }

  .other-project-card {
    view-timeline: --other-project-card;
  }

  header .header-content {
    animation: scale-out both linear, fade-out both linear;
    animation-timeline: --header;
    animation-range: exit 0% exit 100%, exit 0% exit 100%;
    transform-origin: 50% 0;
  }

  .projects-title {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --projects;
    animation-range: cover 5% cover 10%;
  }

  .project-card {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --project-card-container;
    animation-range: cover 30% cover 40%;
  }

  .project-title {
    animation: fade-in both linear, translate-x-in both linear;
    animation-timeline: --project-card;
    animation-range: cover 40% cover 43%;
  }

  .project-description {
    animation: fade-in both linear, translate-x-in both linear;
    animation-timeline: --project-card;
    animation-range: cover 42% cover 45%;
  }

  .project-card-buttons {
    animation: fade-in both linear, translate-x-in both linear;
    animation-timeline: --project-card;
    animation-range: cover 44% cover 47%;
  }

  .project-img {
    animation: fade-in both linear, translate-x-in both linear;
    animation-timeline: --project-card;
    animation-range: cover 40% cover 47%;
  }

  .other-projects-title {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --other-projects;
    animation-range: cover 20% cover 30%;
  }

  .other-project-card {
    animation: fade-in both linear, translate-y-in both linear;
    animation-timeline: --other-project-card;
  }

  #other-project-1-card {
    animation-range: cover 15% cover 23%;
  }

  #other-project-2-card {
    animation-range: cover 17% cover 25%;
  }

  #other-project-3-card {
    animation-range: cover 19% cover 27%;
  }

  #other-project-4-card {
    animation-range: cover 21% cover 29%;
  }

  #other-project-5-card {
    animation-range: cover 23% cover 31%;
  }

  #other-project-6-card {
    animation-range: cover 25% cover 33%;
  }

  .nav-button {
    animation: nav-button-text-color 0.3s both linear;
    animation-timeline: scroll();
    animation-range: 90vh 100vh;
  }

  .nav-button:hover {
    animation: nav-button-text-color-hover 0.3s both linear;
    animation-timeline: scroll();
    animation-range: 90vh 100vh;
  }
}

:root {
  --nav-button-color-header: #fff;
  --nav-button-color-content: #1e293b;
  --nav-button-color-header-hover: #334155;
  --nav-button-color-content-hover: #fff;

  --header-content-background: url("/images/martin-adams-G7sDNMQn_GA-unsplash.jpg");
  --hero-greeting-text-color: #f1f5f9;
  --hero-main-title-color: white;
  --hero-sub-title-color: #f1f5f9;
  --hero-description-color: #f1f5f9;
  --hero-image-shoutout-text-color: #e2e8f0;

  --projects-background-color: #e2e8f0;
  --projects-title-color: #1e293b;

  --project-card-one-background-color: #94a3b8; /* Use same as in the first project card */
  --project-card-one-button-color: #64748b;
  --project-card-one-button-color-hover: #94a3b8;
  --project-card-one-container-background-color: #e2e8f0;

  --project-card-two-background-color: #2563eb;
  --project-card-two-button-color: #1d4ed8;
  --project-card-two-button-color-hover: #2563eb;
  --project-card-two-container-background-color: #bfdbfe;

  --project-card-three-background-color: #6d28d9;
  --project-card-three-button-color: #5b21b6;
  --project-card-three-button-color-hover: #6d28d9;
  --project-card-three-container-background-color: #ddd6fe;

  --project-card-four-background-color: #0e7490;
  --project-card-four-button-color: #155e75;
  --project-card-four-button-color-hover: #0e7490;
  --project-card-four-container-background-color: #cffafe;

  --project-card-five-background-color: #be123c;
  --project-card-five-button-color: #9f1239;
  --project-card-five-button-color-hover: #be123c;
  --project-card-five-container-background-color: #fecdd3;

  --other-projects-background-color: #94a3b8;
  --other-projects-text-color: #1e293b;
  --other-projects-title-color: white;
  --other-project-card-background-color: #64748b;
  --other-project-card-text-color: white;
  --other-project-card-button-background-color: rgba(0, 0, 0, 0.4);
  --other-project-card-button-background-color-hover: rgba(0, 0, 0, 0.2);
  --other-project-card-info-overlay-background-color: rgba(0, 0, 0, 0.4);

  --footer-background: rgba(0, 0, 0, 1);
  --footer-title-color: white;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

ul,
li,
button,
a {
  all: unset;
}

a {
  cursor: pointer;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.nav-button {
  flex-grow: 1;
  color: var(--nav-button-color-header);
  font-size: 1.4rem;
  transition: color 0.3s ease-in-out;
}

.nav-button:hover {
  color: var(--nav-button-color-header-hover);
}

#nav-header {
  margin-left: 3rem;
  justify-content: start;
  font-size: 1.5rem;
}

.github-icon {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.github-icon:hover {
  animation: rotate-and-scale 1s forwards;
}

header {
  height: 90vh;
  background: black;
}

header .header-content .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  position: fixed;
  inset: 0;
}

/* Use this for the image element */
.header-content img {
  position: relative;
  height: 100%;
  width: 140%;
  object-fit: cover;
  inset: 0;
  left: 50%;
  translate: -50% 0;
  filter: brightness(0.2);
}

/* Use this image background */
.header-content-background {
  position: relative;
  height: 100%;
  width: 200%;
  background-image: var(--header-content-background);
  background-size: cover;
  background-position: center;
  background-size: 200% auto;
  filter: brightness(0.8);
  left: 50%;
  transform: translateX(-50%);
}

.image-shoutout {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoutout-text {
  color: var(--hero-image-shoutout-text-color);
  font-size: 1rem;
}

.shoutout-text a {
  cursor: pointer;
  color: var(--hero-image-shoutout-text-color);
}
.shoutout-text a:hover {
  text-decoration: underline;
}

.content {
  z-index: 2;
  position: absolute;
  inset: 0;
  bottom: 100px;
}

.hero-text {
  font-size: 1.5rem;
  text-align: left;
  color: white;
}

.hero-greeting-text {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--hero-greeting-text-color);
}

.hero-main-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: bold;
  color: var(--hero-main-title-color);
}

.hero-sub-title {
  margin-top: 0;
  font-size: 4rem;
  font-weight: bold;
  color: var(--hero-sub-title-color);
}

.hero-description {
  font-size: 2rem;
  font-weight: 600;
  color: var(--hero-description-color);
}

.projects {
  z-index: 10;
  width: 100%;
  background-color: var(--projects-background-color);
  clip-path: ellipse(250% 100% at 50% 100%);
}

.projects-title {
  transform: translateY(100%);
  margin-top: 5rem;
  font-size: 3.5rem;
  text-align: center;
  opacity: 0;
  color: var(--projects-title-color);
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-container {
  padding: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  opacity: 0;
  flex-grow: 1;
  max-width: 1400px;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  color: white;
  transform: translateY(30%);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.project-info {
  flex-grow: 1;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  opacity: 0;
  transform: translateX(30%);
  font-size: 2rem;
  font-weight: bold;
}

.project-description {
  opacity: 0;
  transform: translateX(30%);
  font-size: 1.3rem;
}

.project-card-buttons {
  opacity: 0;
  transform: translateX(30%);
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.project-img {
  opacity: 0;
  transform: translateX(-30%);
  flex-grow: 1;
  max-width: 60%;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.project-button {
  margin-left: 0;
  margin-right: 4rem;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #94a3b8;
  transition: transform 0.3s ease-in-out;
}

.project-button:active {
  transform: scale(0.95);
}

#project-1-card-container {
  background-color: var(--project-card-one-container-background-color);
}

#project-1-card {
  background-color: var(--project-card-one-background-color);
}

#project-1-button {
  background-color: var(--project-card-one-button-color);
  border: 1px solid var(--project-card-one-button-color);
}

#project-1-button:hover {
  background-color: var(--project-card-one-button-color-hover);
}

#project-2-card-container {
  background-color: var(--project-card-two-container-background-color);
}

#project-2-card {
  background-color: var(--project-card-two-background-color);
}

#project-2-button {
  background-color: var(--project-card-two-button-color);
  border: 1px solid var(--project-card-two-button-color);
}

#project-2-button:hover {
  background-color: var(--project-card-two-button-color-hover);
}

#project-3-card-container {
  background-color: var(--project-card-three-container-background-color);
}

#project-3-card {
  background-color: var(--project-card-three-background-color);
}

#project-3-button {
  background-color: var(--project-card-three-button-color);
  border: 1px solid var(--project-card-three-button-color);
}

#project-3-button:hover {
  background-color: var(--project-card-three-button-color-hover);
}

#project-4-card-container {
  background-color: var(--project-card-four-container-background-color);
}

#project-4-card {
  background-color: var(--project-card-four-background-color);
}

#project-4-button {
  background-color: var(--project-card-four-button-color);
  border: 1px solid var(--project-card-four-button-color);
}

#project-4-button:hover {
  background-color: var(--project-card-four-button-color-hover);
}

#project-5-card-container {
  background-color: var(--project-card-five-container-background-color);
}

#project-5-card {
  background-color: var(--project-card-five-background-color);
}

#project-5-button {
  background-color: var(--project-card-five-button-color);
  border: 1px solid var(--project-card-five-button-color);
}

#project-5-button:hover {
  background-color: var(--project-card-five-button-color-hover);
}

.other-projects {
  width: 100%;
  background-color: var(--other-projects-background-color);
  color: var(--other-projects-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-projects-title {
  transform: translateY(100%);
  opacity: 0;
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-align: center;
  font-size: 3rem;
  color: var(--other-projects-title-color);
}

.other-project-cards {
  margin-bottom: 10rem;
  flex-grow: 1;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.other-project-card {
  transform: translateY(30%);
  opacity: 0;
  position: relative;
  margin: 2rem;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--other-project-card-background-color);
  color: var(--other-project-card-text-color);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.other-project-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--other-project-card-info-overlay-background-color);
  border-radius: 20px;
}

.other-project-info:hover {
  animation: fade-in 0.7s forwards;
}

.other-project-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.other-project-button {
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  background-color: var(--other-project-card-button-background-color);
  border: 1px solid var(--other-project-card-button-background-color);
}

.other-project-button:hover {
  background-color: var(--other-project-card-button-background-color-hover);
  transition: transform 0.3s ease-in-out;
}

.other-project-button:active {
  transform: scale(0.95);
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: var(--footer-background);
}

.footer-content {
  flex-grow: 1;
  height: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--footer-title-color);
}

.footer-text {
  margin-right: 0.5rem;
}

@media (max-width: 1536px) {
  html {
    font-size: 15px;
  }

  .other-project-card {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .project-card {
    flex-direction: column;
  }

  .project-title {
    text-align: center;
  }

  .project-info {
    margin-left: 0;
    align-items: center;
    min-height: 50%;
  }

  .project-description {
    text-align: center;
  }

  .project-button:first-child {
    margin-right: 2rem;
  }

  .project-button:last-child {
    margin-left: 2rem;
  }

  .project-img {
    max-width: 100%;
    max-height: 40%;
  }

  .other-project-card {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
